<header>
    <nav>
        <a class="nav-logo" href="/">Taylor's Thrifting</a>
        <div class="mobile-menu">
            <div></div>
            <div></div>
            <div></div>
        </div>
        <ul class="nav-list">
            <li><a href="/">Início</a></li>
            <li><a href="/usuario/desconecta">Desconectar</a></li>
            <li>
                <a href="/produto/cadastra">
                    <iconify-icon
                        icon="icon-park-outline:add"
                        style="color: rgb(255, 255, 255); font-size: 1.5rem"
                    ></iconify-icon
                ></a>
            </li>
            <li>
                <a href="/usuario/deseja"
                    ><iconify-icon
                        icon="mdi:find-love"
                        style="color: rgb(255, 255, 255); font-size: 1.5rem"
                    ></iconify-icon
                ></a>
            </li>
        </ul>
    </nav>
</header>
