<%- include('partials/errorHeader'); %>
  <%- include('partials/navBar.ejs'); %>
  <main>
    <div>
      <span>Erro:</span>
      <h1><%= errorMessage %></h1>
    </div>
  </main>
<%- include('partials/footer.ejs') %>
