<%- include('partials/headerOpen'); %>
    <link rel="stylesheet" href="/css/cadastroProduto.css">
<%- include('partials/headerClose'); %>
        <%- include('partials/navBar'); %>
        <main>
            <div class="div-formulario">
                <form
                    action="/produto/cadastra"
                    method="POST"
                    enctype="multipart/form-data"
                    autocomplete="off"
                >
                    <div>
                        <label for="nome">Nome:</label>
                        <input type="text" name="nome" required />
                    </div>
                    <div>
                        <label for="imagens">Imagem(s):</label>
                        <input
                            type="file"
                            name="imagem"
                            accept=".jpeg, .jpg, .png"
                            required
                        />
                    </div>
                    <div>
                        <label for="preco">Preço:</label>
                        <input type="text" name="preco" required />
                    </div>
                    <div>
                        <label for="descricao">Descrição:</label>
                        <textarea name="descricao"></textarea>
                    </div>
                    <div>
                        <label for="estadoUso">Estado de uso:</label>
                        <input type="text" name="estadoUso" required />
                    </div>
                    <div>
                        <label for="codCla">Classificação:</label>
                        <select name="codCla" class="classificacoes" required>
                            <option value="" disabled selected>
                                Selecione a classificação:
                            </option>
                        </select>
                    </div>
                    <div>
                        <label for="codMar">Marca:</label>
                        <select name="codMar" class="marcas">
                            <option value="" disabled selected>
                                Selecione a marca:
                            </option>
                        </select>
                    </div>
                    <input type="submit" href="/" id="submit-form" hidden />
                </form>
            </div>
            <div class="submit-label">
                <label for="submit-form">Cadastrar</label>
            </div>
        </main>
        <script src="/js/modulos/formProduto.js" type="module"></script>
<%- include('partials/footer'); %>