<%- include('partials/headerOpen'); %>
<link rel="stylesheet" href="/css/home.css" />
<%- include('partials/headerClose'); %> <%- include('partials/navBar'); %>
<main>
    <div class="grid-produtos">
    </div>
</main>
<script src="/js/modulos/produtosDesejo.js" <%- include('partials/footer'); %>
