* {
    margin: 0px;
    padding: 0px;
    /* outline: 1px dotted black; */
}

body {
    height: 100%;
    font-family: Arial, Helvetica, sans-serif;
    overflow: hidden scroll;
    background-color: rgb(250, 226, 195);
}

main {
    display: flex;
    justify-content: center;
    /* background-color: rgb(0, 0, 0); */
    width: 80%;
    height: 100%;
    margin: auto;
}

.grid-produtos {
    margin-top: 50px;
    width: 100%;
    height: 100%;
    gap: 30px 20px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(180px, 250px));
    grid-template-rows: repeat(auto-fit, 350px);
    justify-content: space-between;
    /* background-color: black; */
    /* outline: 1px dotted black; */
}

.produto {
    /* outline: 1px dotted black; */
    cursor: pointer;
    width: 100%;
    height: 100%;
    text-align: center;
    background-color: rgba(255, 183, 116, 0.445);
    padding-top: 15px;
    padding-bottom: 15px;
    border-radius: 8px;
    overflow: hidden;
}

/* .produto-imagem {
    width: 100%;
    height: 100%;
} */

.produto-imagem {
    width: 100%;
    height: 70%;
    /* background-color: brown; */
    /* background-size: cover;
    background-position: center;
    background-repeat: no-repeat; */
    overflow: hidden;
}

.produto-imagem > img {
    width: 90%;
    height: 100%;
    object-fit: cover;
    object-position: bottom;
}

.produto > h3, .produto > p {
    margin-top: 10px;
    font-weight: bold;
}

.produto > button {
    margin-top: 2%;
    background-color: #a97d6c;
    border: none;
    border-radius: 5px;
    color: #fff;
    font-size: 14px;
    padding: 10px;
}