* {
    margin: 0px;
    padding: 0px;
    /* outline: 1px dotted black; */
}

body {
    height: 100%;
    font-family: Arial, Helvetica, sans-serif;
    overflow: hidden scroll;
    background-color: rgb(250, 226, 195);
}

main {
    /* display: flex;
    justify-content: center; */
    /* background-color: rgb(0, 0, 0); */
    width: 80%;
    height: 100%;
    margin: auto;
}

.grid-produtos {
    margin-top: 50px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    /* outline: 1px dotted black; */
    justify-content: space-around;
}

.produto {
    /* outline: 1px dotted black; */
    position: relative;
    cursor: pointer;
    width: 250px;
    height: 350px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    background-color: rgba(255, 183, 116, 0.445);
    padding: 15px 5px 12px 5px;
    border-radius: 10px;
    margin: 10px;
    transition: 250ms;
}
.produto:hover {
    transform: scale(1.1);
}

.produto-imagem {
    width: 100%;
    height: 70%;
    overflow: hidden;
}

.produto-imagem > img {
    width: 90%;
    height: 100%;
    object-fit: cover;
    object-position: bottom;
}

.produto > h3,
.produto > p {
    width: 100%;
    margin-top: 10px;
    font-weight: bold;
}

.produto > button.compra {
    margin-top: 2%;
    background-color: rgb(169, 125, 108);
    border: none;
    border-radius: 5px;
    color: rgb(255, 255, 255);
    font-size: 14px;
    padding: 10px;
}

button.apaga, button.deseja {
    position: absolute;
    top: 18px;
    right: 18px;
    bottom: auto;
    left: auto;
    z-index: 10;
    width: 30px;
    height: 30px;
    border-radius: 5px;
    background-color: transparent;
    border: 0;
    transition: 200ms;
}

button.apaga:hover, button.deseja:hover {
    cursor: pointer;
    transform: scale(1.3);
}