<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Cadastro de Produto</title>
        <link rel="stylesheet" href="/css/cadastroProduto.css">
    </head>
    <body>
        <div class="div-formulario">
            <form action="/data/produto" method="POST">
                <label for="name">Nome:</label>
                <input type="text" name="name">
                <label for="price">Preço:</label>
                <input type="text" name="price">
            </form>
        </div>
    </body>
</html>
