<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Acesso</title>
        <link rel="stylesheet" href="/css/login.css">
    </head>
    <body>
        <div class="container">
            <div class="form-image">
                <img src="https://www.google.com/url?sa=i&url=https%3A%2F%2Fblogamelhorescolha.com%2Fmoda-sustentavel-como-unir-sustentabilidade-e-estilo%2F&psig=AOvVaw2oKf8GOap8ECJbOvUupUJV&ust=1684847003995000&source=images&cd=vfe&ved=0CBEQjRxqFwoTCNCP6bH-iP8CFQAAAAAdAAAAABAD" 
                alt="moda sustentável">
            </div>
            <div class="form">
                <h1>Entrar</h1>
                <form action="/login" method="POST">
                    <label for="username">Usuário</label>
                    <input type="text" id="nome" name="nome" required>
                    <label for="password">Senha</label>
                    <input type="password" id="senha" name="senha" required>
                    <input type="submit" value="Entrar">
                </form>
            </div>
        </div>
    </body>
</html>
