<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Cadastro de Produto</title>
        <!-- <link rel="stylesheet" href="css/cadastroProduto.css" /> -->
    </head>
    <body>
        <div class="div-formulario">
            <form
                action="/cadastro/produto"
                method="POST"
                enctype="multipart/form-data"
                autocomplete="off"
            >
                <label for="nome">Nome:</label>
                <input type="text" name="nome" required />
                <label for="imagens">Imagem(s):</label>
                <input
                    type="file"
                    name="imagem"
                    accept=".jpeg, .jpg, .png"
                    required
                />
                <label for="preco">Preço:</label>
                <input type="text" name="preco" required />
                <label for="descricao">Descrição:</label>
                <textarea name="descricao"></textarea>
                <label for="estadoUso">Estado de uso:</label>
                <input type="text" name="estadoUso" required />
                <label for="codCla">Classificação:</label>
                <select name="codCla" class="classificacoes" required>
                    <option value="" disabled selected>
                        Selecione a classificação:
                    </option>
                </select>

                <label for="codMar">Marca:</label>
                <select name="codMar" class="marcas">
                    <option value="" disabled selected>
                        Selecione a marca:
                    </option>
                </select>

                <input type="submit" value="cadastrar" href="/"/>
            </form>
        </div>
        <script src="/js/modulos/formProduto.js" type="module"></script>
    </body>
</html>
