<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Acesso</title>
        <link rel="stylesheet" href="/css/login.css">
    </head>
    <body>
        <div class="container">
            <div class="cont-image" style="background-image: url(/img/moda-sustentavel.jpg);">
                
            </div>
            <div class="cont-form">
                <h1>Entrar</h1>
                <form action="/login" method="POST" autocomplete="off">
                    <label for="nome">Usuário</label>
                    <input type="text" class="input-nome" name="nome" placeholder="Exemplo: artu" required>
                    <label for="senha">Senha</label>
                    <input type="password" class="input-senha" name="senha" placeholder="Exemplo: aw@kso8s" required>
                    <input type="submit" class="input-submit " value="Entrar">
                </form>
            </div>
        </div>
    </body>
</html>
