* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #ffa54b77;
    color: #725442;
    font-family: sans-serif;
    height: 100vh;
    /* display: flex; */
    justify-content: center;
    align-items: center;
}

main {
    width: 60%;
    height: 80vh;
    margin: 40px auto auto auto;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
  }

.container {
    display: grid;
    grid-template-rows: minmax(300px, 450px);
    grid-template-columns: minmax(100px, 350px) minmax(100px, 350px);
    margin: 100px;
    /* overflow-y: hidden; */
    /* background-color: #000000; */
    /* border-radius: 10px; */
    /* box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5); */
}


.cont-image {
    /* object-fit: fill; */
    /* object-position: bottom; */
    /* background-imag  e: url(/img/moda-sustentavel.jpg); */
    /* background: no-repeat center; */
    background-size: cover;
    background-position: center; 
    /* grid-area: img; */
}

.cont-cad {
    /* height: 500px; */
    padding-right: 10px;
    /* transition: display 0.3s; */
}

/* .cont-log {
    width: 100%;
    height: 400px;
} */

.cont-log, .cont-cad {
    background-color: #f0d1a6;
    height: 100%;
    max-height: 100%;
    padding-left: 20px;
    padding-right: 20px;
    /* grid-area: login; */
    text-align: center;
    transition: display 0.3s;
}

.cont-log > form, 
.cont-cad > form {
    /* margin: auto; */
    text-align: left;
    display: grid;
    letter-spacing: 2px;
    /* padding: 20px; */
    height: 70%;
    width: 100%;
    /* grid-gap: 20px; */
    /* background-color: aqua; */
}

h1 {
    margin-top: 10px;
    margin-bottom: 20px;
    letter-spacing: 2px;
    text-align: center;
}

label {
    font-size: 24px;
    font-weight: bold;
}

.input:focus {
    outline: rgb(240, 162, 85) solid 2px;
    /* border: 1px solid #f0d1a6; */
}

/* .cont-cad .input {
    width: 100%;
    height: 35px;
} */

.input {
    height: 35px;
    padding-left: 10px;
    border-radius: 3px;
    border: none;
    font-size: 15px;
    color: #6e4f3d;
    background-color: #f6eee0;
    /* margin-top: 5px; */
    margin-bottom: 10px;
    transition: 0.2s;
}

.submit {
    /* padding: 10px; */
    height: 40px;
    border-radius: 2px;
    border: none;
    font-size: 18px;
    font-weight: bold;
    color: #f6eee0;
    background-color: #9a755f;
    cursor: pointer;
    margin-bottom: 20px;
    transition: all 0.2s ease-in-out;
}

.cont-log > p,
.cont-cad > p {
    user-select: none;
}

.botao-cad:hover,
.botao-log:hover {
    cursor: pointer;
    color: rgb(98, 51, 0);
}

.invisible {
    transition: 0.3s;
    display: none;
}